%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#about
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo2.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div
    
    %section#about
      %div
        %div
          %p
            Ro
            %span.s а
            m — это
          %p.pill.border.medium медиа-платформа для диджитал кочевников
          %p.pill.border.medium обширное хранилище структурированной информации о местах и направлениях, куда цифровым кочевникам нашей страны можно держать курс
        %img.border{src: "/img/yerevan.png"}
    
    %section#profiles
      %div.bundle
        .container.rect.white.bold
          %p
            н
            %span.s а
            пра
            %span.s в
            ления
        .container.oval.white.bold
          %p
            р
            %span.s а
            бота
        .container.roundrect.white.bold
          %p
            ма
            %span.s т
            ериалы
    
    %section#people
      .border
        %p Для кого Roam?
        %div
          %p диджитал-кочевники
          %p студенты
          %p исследователи
          %p фрилансеры
          %p культурные энтузиасты
          %p путешественники
          %p языковые энтузиасты
          %p диджитал-кочевники
          %p студенты
          %p исследователи
          %p фрилансеры
          %p культурные энтузиасты
          %p путешественники
          %p языковые энтузиасты
    
    %footer
      %div
        %a о нас
        %a направления
        %a работа
        %a материалы
      %img{src: "/img/logo.svg"}
      %div
        %a telegram
        %a instagram
