body#about {
    section#about {
        > div {
            & {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            > div {
                & {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                p:first-of-type {
                    font-size: 138px;
                    line-height: 140px;
                }
                p.pill {
                    width: fit-content;
                }
                p.pill:last-of-type {
                    width: 520px;
                    margin-left: 200px;
                }
            }

            img {
                width: 500px;
                height: 400px;
                border-radius: 100px;
            }
        }
    }

    section#profiles {
        & {
            margin-top: 100px;
            background-color: var(--черный);
        }

        > div {
            & {
                gap: 0;
            }

            .container {
                scale: 0.75;
            }

            .container:first-of-type {
                margin-left: -200px;
            }

            .container:last-of-type {
                margin-left: 200px;
            }
        }
    }
}