%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#destinations
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo4.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас

    %section#title
      %div
        %div.container.rect.black.bold
          %p
            н
            %span.s а
            пра
            %span.s в
            ления
        %p направления –– поиск по специально отобранным нашей редакцией местам, которые отлично подходят для кратковременного пребывания и дистанционной работы.

    %section#all-destinations
      %div
        %a{ style: "background-image: url('/img/globe.png')" }
          %p Все
          %p (38 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Беларусь
          %p (8 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Россия
          %p (5 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Армения
          %p (5 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Турция
          %p (5 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Узбекистан
          %p (5 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Казахстан
          %p (5 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Сербия
          %p (5 локаций)
        %a{ style: "background-image: url('/img/by.png')" }
          %p Грузия
          %p (5 локаций)

    %footer
      %div
        %a{href: '/about'} о нас
        %a{href: '/destinations'} направления
        %a{href: '/work'} работа
        %a{href: '/materials'} материалы
      %img{src: "/img/logo.svg"}
      %div
        %a{href: '/tg'} telegram
        %a{href: '/ig'} instagram