body#destinations {
    section#title {
        > div {
            > p {
                margin-top: 40px;
                max-width: 420px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    section#all-destinations {
        > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 28px;
        }
    }

}