%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#main
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo3.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div

    %section#window
      %div
        %img#image-swap{src: '/img/boy1.svg', data-images: '/img/boy1.svg, /img/boy2.svg, /img/boy3.svg'}
        %p 
          ок
          %span.s н
          о к
          %span.s у
          да уго
          %span.s д
          но
        %div
          %img{src: "/img/logo.svg"}
          %p (все необходимое для диджитал кочевников)

    %section#overview
      %div
        %a.container.rect.white.card.border
          %div
            %p.pill.border.small Москва
            %p.pill.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.border
          %div
            %p.pill.border.small Казахстан
            %p.pill.border.small Карьера
          %p Гайд: работа в Казахстане
        %a.container.rect.white.card.border
          %div
            %p.pill.border.small Россия
            %p.pill.border.small Недвижимость
          %p Инта: купить квартиру за 30.000
        %a.container.rect.white.card.border
          %div
            %p.pill.border.small Россия
            %p.pill.border.small Недвижимость
          %p Инта: купить квартиру за 30.000

    %section.small
      %div
        %a.bottom-link материалы

    %section#jobs
      %div.scroller.border
        %div
          %p предприниматель
          %p веб-разработчик
          %p smm-специалист
          %p дизайнер
          %p программист
          %p репетитор
          %p редактор
          %p предприниматель
          %p веб-разработчик
          %p smm-специалист
          %p дизайнер
          %p программист
          %p репетитор
          %p редактор

    %section.small
      %div
        %a.bottom-link профессии

    %section#cities
      %div
        %a.globe.large{ style: "background-image: url('/img/globe.png')" }
          %p Ереван
        %a.globe.large{ style: "background-image: url('/img/by.png')" }
          %p Сочи
        %a.globe.large{ style: "background-image: url('/img/by.png')" }
          %p Тбилиси
        %a.globe.large{ style: "background-image: url('/img/by.png')" }
          %p Баку
        %a.globe.large{ style: "background-image: url('/img/by.png')" }
          %p Белград

    %section.small
      %div
        %a.bottom-link направления

    %section#email
      %div
        %p Оставайтесь на связи:
        %div
          %input.pill.border.small.black{type: 'text', placeholder: 'e-mail'}
          %p.pill.border.small подписаться на рассылку

    %footer
      %div
        %a о нас
        %a направления
        %a работа
        %a материалы
      %img{src: "/img/logo.svg"}
      %div
        %a telegram
        %a instagram
