body#main {
    section#window {
        > div {
            > p {
                color: var(--белый);
                position: absolute;
                top: 200px;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 174px;
                font-weight: 400;
                letter-spacing: -6px;
            }
            
            img {
                width: 100%;
            }

            div {
                & {
                    display: flex;
                    gap: 50px;
                    margin-top: 50px;
                }

                img {
                    width: 380px;
                }

                p {
                    width: 540px;
                    font-size: 40px;
                }
            }
        }
    }

    section#overview, section#cities {
        & {
            overflow-x: scroll;
        }

        &::-moz-scrollbar {
            display: none;
        }   
        
        &::-webkit-scrollbar {
            display: none;
        }

        > div {
            & {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            .card {
                min-width: 460px;
            }
        }
    }

    section#jobs {
        .scroller {
            > div {
                align-items: flex-end;
                margin-left: -220px;
            }
        }
    }

    section#cities {

    }

    section#email {
        & {
            margin-top: 100px;
        }
        > div {
            > p {
                font-size: 40px;
            }
            > div {
                & {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    margin-top: 40px;
                }
                input {
                    flex-grow: 1;
                    width: 100%;
                }
                p {
                    width: 700px;
                    font-size: 26px;
                    flex-shrink: 1;
                    text-align: center;
                }
            }
        }
    }
}
