header {
	& {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 28px;
        margin-bottom: 20px;
    }

    div {
        position: absolute;
        right: 25px;
        height: 28px;
        width: 28px;
        background-size: cover;
        cursor: pointer;
        background-image: url('/img/search.svg');
    }

    &.white {
        a {
            color: var(--белый);
        }

        a:hover::after {
            border-color: var(--белый);
        }

        div {
            background-image: url('/img/search_w.svg');
        }
    }

    a:last-of-type {
        margin-right: 40px;
    }

    a:nth-last-of-type(2) {
        margin-left: -40px;
    }
    
    a:not(.static) {
        width: 120px;
        text-align: center;
        font-weight: 400;
    }

    a:not(.static):after {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: -10px;
        left: -10px;
        border-radius: 50%;
    }
}
