.heading {
    & {
        height: 600px;
        background-size: cover;
    }

    &.pill {
        border-radius: 512px;
    }

    &.rect {
        border-radius: 100px;
    }

    p {
        font-size: 148px;
        text-align: center;
        line-height: 1;
        font-weight: 400;
    }
}
