.heading {
    & {
        height: 600px;
        background-size: cover;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &.pill {
        border-radius: 512px;
    }

    &.rect {
        border-radius: 100px;
    }

    p {
        font-size: 148px;
        text-align: center;
        line-height: 1;
        font-weight: 400;
    }

    p.caption {
        font-size: 32px;
    }
}
