@media (max-width: 1540px) {
    section>div,
    header,
    footer {
        width: 100% !important;
    }
}

@media (max-width: 1440px) {
    section#all-materials, section#all-destinations, section#jobs {
        > div {
            justify-content: center !important;
        }
    }

    body#preview, body#main {
        >section#window>div>p {
            display: none;
        }
    }
}

@media (max-width: 1240px) {
    header {
        & {
            justify-content: flex-start;
        }

        a.static {
            margin-left: -18px;
        }

        a:not(.static), div {
            display: none;
        }
    }

    .article, #article {
        .container > p {
            width: initial !important;
        }
        .strip {
            flex-direction: column;
        }
        img {
            width: 100% !important;
        }
    }

    section#more > div > div {
        flex-direction: column;
    }

    body#preview {
        >section#work>div>div {
            flex-direction: column;
            gap: 50px;
        }
        >section#email>div>div {
            & {
                flex-direction: column;
                gap: 50px;
            }
            p {
                width: 100%;
            }
        }
    }
}

@media (max-width: 560px) {
    footer {
        img {
            display: none;
        }
    }

    .heading {
        p {
            font-size: 38px;
        }

        p.caption {
            font-size: 18px;
        }
    }

    .tags {
        & {
            display: none;
            flex-direction: column;
            align-items: center;
        }

        > p {
            scale: 0.75;
            width: fit-content;
            margin: -20px;
        }
    }

    .card, .globe {
        scale: 0.75;
        margin: -50px;
        width: initial;
    }

    #article {
        .strip, h1 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        h1 {
            font-size: 38px;
        }
    }

    .scroller {
        & {
            flex-direction: column;
            gap: 40px;
        }

        > div {
            animation: none !important;
            margin-left: 10px !important;
            align-items: start !important;
            gap: 20px;
        }

        > div > p {
            font-size: 38px !important;
        }
    }

    section#email {
        > div > div {
            flex-direction: column;
        }

        p {
            width: 100% !important;
        }
    }

    section#title {
        .container p {
            font-size: 60px !important;
            top: 140px;
            left: 0;
            width: 100%;
            letter-spacing: initial;
        }
    }

    body#about {
        section#about {
            > div {
                flex-direction: column;
                gap: 20px;
            }

            > div > div {
                gap: 20px;
            }

            > div > div p:first-of-type {
                font-size: 68px;
                line-height: 80px;
            }

            p.pill {
                width: fit-content !important;
                margin: 0 !important;
                border-radius: 56px;
            }

            img {
                width: auto !important;
                height: auto !important;
                border-radius: 56px !important;
            }
        }

        section#profiles {
            > div .container {
                margin: 0 !important;
            }

            > div .container p {
                font-size: 60px;
                top: 0 !important;
                left: 0 !important;
                width: 100% !important;
                margin-top: 80px;
            }
        }
    }

    body#main {
        section#window {
            > div > p, > div > div > img {
                display: none;
            }

            > div > div > p {
                font-size: 24px;
            }
        }
    }

    body#destinations-all {
        section#list {
            img {
                display: none;
            }
        }
    }
}
