@media (max-width: 1540px) {
    section>div,
    header,
    footer {
        width: 100% !important;
    }
}

@media (max-width: 1240px) {
    .article, #article {
        .container > p {
            width: initial !important;
        }
        .strip {
            flex-direction: column;
        }
        img {
            width: 100% !important;
        }
    }

    section#more > div > div {
        flex-direction: column;
    }

    body#preview {
        >section#window>div>p {
            display: none;
        }
        >section#work>div>div {
            flex-direction: column;
            gap: 50px;
        }
        >section#email>div>div {
            & {
                flex-direction: column;
                gap: 50px;
            }
            p {
                width: 100%;
            }
        }
    }
}
