.overlay {
    & {
        position: sticky;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--черный);
        background-image: url('/img/bg.svg');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 1000;
        display: none;
    }

    > img {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 50px;
    }

    > div {
        & {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--белый);
            width: 700px;
            height: 360px;
            border-radius: 44px;
            padding: 55px 45px;
        }

        > p {
            font-size: 36px;
            font-weight: 400;
            text-transform: capitalize;
        }

        > div {
            & {
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-top: 40px;
            }

            > p {
                & {
                    font-size: 19px;
                }

                &:first-child {
                    width: 300px;
                }
            }
        }
    }
}
