.overlay {
    & {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        display: none;
    }

    &.search {
        & {
            background-color: rgba($color: #000000, $alpha: 0.4);
            cursor: pointer;
        }

        > div {
            & {
                position: absolute;
                margin-top: 225px;
                left: 50%;
                width: 800px;
                transform: translate(-50%, 0);
            }

            > input.pill {
                width: 100%;
                background-color: rgba($color: #FFFFFF, $alpha: 0.25);
                border: none;
                border-radius: 44px;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                color: white;
            }

            > div {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 14px;
                background-color: white;
                border-radius: 44px;
                max-height: 175px;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            > div::-webkit-scrollbar {
                display: none;
            }            

            a::after {
                content: "â†";
                margin-left: 10px;
                display: none;
            }

            a:hover::after {
                border: none;
                display: inline;
            }
        }
    }

    > img {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 50px;
    }

}
