.overlay {
    & {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        display: none;
    }

    &.search {
        & {
            background-color: rgba($color: #000000, $alpha: 0.4);
            cursor: pointer;
        }

        > div {
            > .pill {
                position: absolute;
                top: 30%;
                left: 50%;
                width: 800px;
                transform: translate(-50%, -50%);
                background-color: rgba($color: #FFFFFF, $alpha: 0.25);
                border: none;
                border-radius: 44px;
                backdrop-filter: blur(5px);
            }
            
            input {
                color: white;
            }
        }
    }

    > img {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 50px;
    }

}
