.pill {
    &.small {
        padding: 10px 20px 10px 20px;
        border-radius: 32px;
        font-size: 22px;
    }

    &.medium {
        padding: 20px 40px 20px 40px;
        border-radius: 256px;
        font-size: 20px;
    }

    &.large {
        padding: 60px 66px 60px 66px;
        border-radius: 256px;
        font-size: 40px;
    }
    
    &.border {
        background-color: var(--белый);
        color: var(--черный);
    }

    &.fill {
        background-color: var(--черный);
        color: var(--белый);
    }
}

input.pill {
    height: 268px;
    font-size: 100px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
