%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#styleguide
    %section#logo
      %div
        %img{src: '/img/logo_wide.svg'}
        %div
          %p (стайлгайд)
          %p — медиа-платформа для диджитал кочевников, обширное хранилище структурированной информации о местах и направлениях, куда цифровым кочевникам нашей страны можно держать курс, в разных масштабах — от стран до кварталов.
    %section#article
      %div.perk
        %p (1)
          %br
          Миссия 
        %h2 — облегчить образ жизни диджитал-кочевников и сделать его более ответственным

      %div.perk
        %p (2)
          %br
          Ценности 
        %img{src: '/img/perk1.svg'}

      %div.perk
        %p (3)
          %br
          Айдентика 
        %h2 Айдентика построена на метафоре «окно куда угодно, выход за границы». Графика и типографика совмещает в себе реальный и диджитал миры. Основной приём –– построение композиции в рамках «окон» четырёх форм, а таже выход текстовых блоков за границы этих окон.

      %div.perk
        %p (4)
          %br
          Логотип
          %span (построение)
        %img{src: '/img/logo_details.svg'}

      %div.perk
        %p
          %span (вариации
            %br буквы О)
        %img{src: '/img/windows.svg'}

      %div.perk
        %p
          %span (ограничения)
        %div
          %h2 Нельзя сжимать, поворачивать использовать «окно» в качестве маски и окрашивать ярко-голубым цветом.
          %img{src: '/img/logos.svg'}

      %div.perk
        %p
          %span (расположение)
        %img{src: '/img/logo_positions.svg'}

      %div.perk
        %p (5)
          %br
          Цвета 
        %img{src: '/img/colors.svg'}

      %div.perk
        %p (6)
          %br
          Типографика 
        %img{src: '/img/fonts.svg'}

      %div.perk
        %p
          %span (правила)
        %img{src: '/img/rules.svg'}

      %div.perk
        %p (7)
          %br
          Сетка
        %div
          %h2 Веб (десктоп): 12 колонок
            %span.small margin 50, gutter 20
          %img{src: '/img/grid1.png'}
          %h2 Веб (мобайл): 6 колонок
            %span.small margin 20, gutter 20
          %img{src: '/img/grid2.png'}
          %h2 Прямоугольники, плакаты: сетка
            %br (16 колонок, 16 рядов)
              %span.small margin 35/50, gutter 10
          %img{src: '/img/grid3.png'}
          %img{src: '/img/grid4.png'}
          %h2 Квадрат: сетка (16 колонок, 16 рядов)
            %span.small margin 50, gutter 10
          %img{src: '/img/grid5.png'}

      %div.perk
        %p (8)
          %br
          Изображения 
          %span (дуотон)
        %div
          %img{src: '/img/duotone.png'}
          %p Ко всем фотографиям, кроме контента в материалах и статьях, применяется эффект дуотона из двух основных цветов (#00141F+#D6F0FF).
          %p Исключение: фотография на главной и превью страницах на первом экране.

      %div.perk
        %p
          %span (обработка)
        %div
          %img{src: '/img/postprod.png'}
          %p Остальные изображения (в статьях, в материалах) обрабатываются так:
          %p 1. повышение контраста 
            %br 2. понижение насыщенности
              %br 3. повышение температуры
                %br 4. значительное уменьшение параметра tint

      %div.perk
        %p (9)
          %br
          Графика
        %div
          %img{src: '/img/graph1.png'}
          %p Фоновая графика –– сильно увеличенные в масштабе буквы шрифта Stezhok в дополнительном цвете (#94D8FF).
          %h2 Фоновая графика на тёмном фоне
            %br не допускается.
          %img{src: '/img/graph2.png'}
          %p Формы «окон» из логотипа могут масштабироваться с сохранением пропорций, они являются масками для изображений и текстов. На носителях за их пределами может находиться только логотип и информация о проекте.
        
      %div.perk
        %p (10)
          %br
          Носители
        %div
          %img{src: '/img/merch1.png'}
          %img{src: '/img/merch2.png'}
          %img{src: '/img/merch3.png'}
          %img{src: '/img/merch4.png'}
          %img{src: '/img/merch5.png'}
          %img{src: '/img/merch6.png'}
          %img{src: '/img/merch7.png'}
          %img{src: '/img/merch8.svg'}
          %img{src: '/img/merch9.png'}
      
      %div.perk
        %p Миссия
          %br
          Ценности
          %br
          Айдентика
          %br
          Логотип
          %br
          Цвета
          %br
          Типографика
          %br
          Сетка
          %br
          Изображения
          %br
          Графика
          %br
          Носители
    
    %section#footer
      %div
        %img{src: '/img/logo_wide_dark.svg'}