%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    -# %link{:rel => "icon", :type => "image/png", :href => "../static./img/icon.png"}
  %body#materials-agrotourism
    %header
      %a{href: '/work'} профессии
      %a{href: '/destinations/yerevan'} направления
      %a.static{href: '/'}
        %img{src: "../img/logo.svg"}
      %a{href: '/materials/agrotourism'} материалы
      %a{href: '/about'} о нас
    
    %section#heading
      %div.heading.pill.centered
        %p Агротуризм в Подмосковье
    
    %section#article
      %div
        %div.tags
          %p.pill.fill.black.medium Москва
          %p.pill.fill.black.medium Агротуризм
        %p.callout Подмосковье открывает перед гостями широкие возможности для агротуризма, предлагая уникальный опыт погружения в деревенскую жизнь с её традициями и колоритом.
        %h1.center Что такое агротуризм?
        %p.center Агротуризм — это форма туризма, где целью является погружение в деревенский образ жизни, знакомство с местной культурой, традициями и сельским хозяйством. Это шанс для городских жителей вырваться из повседневной рутины, попробовать домашние продукты и освоить старинные ремесла. Агротуризм часто включает в себя разнообразные активности: от катания на лошадях до мастер-классов по приготовлению традиционных блюд.
        %p.center Популярность агротуризма растёт, поскольку люди все больше ценят естественные продукты, экологически чистые места и простоту деревенской жизни. Ведь это возможность не просто отдохнуть, но и получить новые умения, а также научиться ценить работу фермеров.
        %h1 Подмосковье — идеальное место для агротуризма?
        %div.strip
          %div
            %p Подмосковье обладает уникальными особенностями, делающими его привлекательным для агротуризма. Рядом с мегаполисом расположены живописные деревни, где сохранились старинные традиции и ремесла. Чистый воздух, леса, поля и озера создают идеальные условия для отдыха.
            %p Подмосковье также славится своими историческими местами, многие из которых связаны с деревенским наследием региона. Музеи, усадьбы, храмы — все это добавляет культурное измерение к агротуристическому опыту.
          %img.border.corner{src: '../img/farm.png'}
        %h1.center Лучшие места для агротуризма в Подмосковье
        %p.center Среди разнообразных уголков Подмосковья для агротуризма особо выделяются:
        %p.center.li Деревня «Лесное Озеро»: здесь туристы могут проживать в традиционных деревенских домах, ухаживать за домашними животными и заниматься рыбалкой на местном озере.
        %p.center.li Ферма «Зелёный Край»: эта ферма предлагает глубокое погружение в мир сельского хозяйства. Посетители могут узнать все о производстве молочных продуктов, участвовать в мастер-классах по приготовлению сыра и масла.
        %p.center.li Агроусадьба «Подсолнухи»: этот уголок предлагает уникальное сочетание деревенского отдыха и культурных мероприятий. Помимо традиционных развлечений, таких как посадка овощей и уход за животными, здесь проводятся фестивали, выставки и тематические вечера.
        %img.center.border.corner{src: '../img/farm2.png'}

    %section#more
      %div
        %h1 Читайте ещё:
        %div
          %div.container.rect.white.card.border
            %div
              %p.pill.border.small Москва
              %p.pill.border.small Агротуризм
            %p Агротуризм в Подмосковье
          %div.container.rect.white.card.border
            %div
              %p.pill.border.small Казахстан
              %p.pill.border.small Карьера
            %p Гайд: работа в Казахстане
          %div.container.rect.white.card.border
            %div
              %p.pill.border.small Россия
              %p.pill.border.small Недвижимость
            %p Инта: купить квартиру за 30.000

    %footer
      %div
        %a о нас
        %a направления
        %a работа
        %a материалы
      %img{src: "../img/logo.svg"}
      %div
        %a telegram
        %a instagram
