%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body.destination#yerevan
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div
    
    %section#heading
      %div.heading.rect.centered{style: "background-image: url('/img/sochi.png'); background-position-y: -380px"}
        %p Адлер
        %p.caption 
          Популярный летний российский курорт,
          %br
          место проведения форумов и крупных международных мероприятий
    
    %section#article
      %div
        %p.center В Средние века на месте современного поселения существовала генуэзская фактория Лияш. Впоследствии поселение было известно как абхазское селение Лаеш. В конце XV века Северное Причерноморье, включая Генуэзские колонии, было захвачено Османской Империей, установившей свое господство в этом регионе почти на четыре века.
        %p.center Русское укрепление Святого Духа было основано 18 июня 1837 года на обширной равнине у устья реки Мзымта. Укрепление в составе Черноморской береговой линии просуществовало до 1854 года[2]. До присоединения к Российской империи эти земли находились в управлении абхазского садзского княжеского рода Ардба. Князья в устье реки имели пристань, посредством которой вели торговлю с Турцией. По-турецки эта местность называлась Artlar («островитяне», либо имя собственное «Алэр»).
        %div.container.black.fill.semiroundrect.centered
          %p В 1961 году были ликвидированы прибрежные населённые пункты Лазаревского и Адлерского сельских районов Краснодарского края и вместе с Лазаревским включён в состав городской черты города Сочи.
        %h1 Климат
        %p Адлер расположен в зоне влажных субтропиков. На климат Адлера оказывают значительное влияние море (летом от него прохладнее, зимой оно согревает) и горы (ограждают от холодных северных ветров). Климат очень влажный, особенно вдоль побережья, и, подобный сочинскому, наблюдается в соседней Абхазии, а также на юго-востоке США (штаты Миссисипи, Луизиана, Алабама, Джорджия).
        %div.strip
          %div
            %p Максимум осадков приходится на зимний период времени года, преимущественно в виде дождя, реже — снега. Зима тёплая, лето жаркое и влажное. Благодаря близости моря, высокие летние температуры несколько корректируются в сторону понижения и благоприятны для природы и человека. Подобный тип климата подходит для произрастания разного рода субтропических и умеренных культур. 
            %p В Адлере продолжительное лето (середина апреля — октябрь), умеренная осень (ноябрь — январь), короткая зима (февраль — середина марта) и короткая весна (середина марта — середина апреля).
          %img.border.corner{src: '/img/yerevan3.png'}
        %h1.center Транспорт
        %p.center Самый востребованный транспорт для передвижения по курорту — такси, ввиду того что общественный транспорт ходит не везде и зачастую переполнен, автомобильные пробки — весьма частое явление. Для поездок в Центр Сочи или Красную поляну можно использовать железнодорожное сообщение электропоездом «Ласточка», на ней же можно доехать до Аэропорта, Олимпийского парка и Туапсе.
        %p.center Международный аэропорт Сочи ежедневно принимает и отправляет десятки рейсов в разные города страны и зарубежья, самые популярные внутренние маршруты: Москва, Санкт-Петербург, Екатеринбург, Новосибирск и Казань.
        %p.center Железнодорожный вокзал «Адлер» является крупнейшим вокзалом страны. Он был построен по специальному проекту для Олимпийских игр Сочи, стандартная пропускная способность около 6,5 тыс. (до 25 тыс.) пассажиров в час, принимает и отправляет поезда во многие города России, конечный пункт следования для большинства скорых и пассажирских поездов южного (сочинского) направления, за исключением следующих дальше в Абхазию.

    %section#more
      %div
        %h1 Читайте ещё:
        %div
          %a.container.rect.white.card.border{ href: '/destinations/yerevan' }
            %div
              %p.pill.border.small Москва
              %p.pill.border.small Агротуризм
            %p Агротуризм в Подмосковье
          %a.container.rect.white.card.border{ href: '/destinations/yerevan' }
            %div
              %p.pill.border.small Казахстан
              %p.pill.border.small Карьера
            %p Гайд: работа в Казахстане
          %a.container.rect.white.card.border{ href: '/destinations/yerevan' }
            %div
              %p.pill.border.small Россия
              %p.pill.border.small Недвижимость
            %p Инта: купить квартиру за 30.000

    %footer
      %div
        %a о нас
        %a направления
        %a работа
        %a материалы
      %img{src: "/img/logo.svg"}
      %div
        %a telegram
        %a instagram
