%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#destinations-all
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo4.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div

    %section#taglist
      %div.tags
        %p.pill.fill.border.small.clickable Все
        %p.pill.border.small.clickable Советы
        %p.pill.border.small.clickable Беларусь
        %p.pill.border.small.clickable Россия
        %p.pill.border.small.clickable Армения
        %p.pill.border.small.clickable Турция
        %p.pill.border.small.clickable Узбекистан
        %p.pill.border.small.clickable Казахстан
        %p.pill.border.small.clickable Сербия
        %p.pill.border.small.clickable Грузия

    %section#list
      %div
        %div
          %a{ href: '/destinations/yerevan' } Ереван
          %a{ href: '/destinations/yerevan' } Адлер
          %a{ href: '/destinations/yerevan' } Алматы
          %a{ href: '/destinations/yerevan' } Батуми
          %a{ href: '/destinations/yerevan' } Белград
          %a{ href: '/destinations/yerevan' } Витебск
          %a{ href: '/destinations/yerevan' } Горно-Алтайск
          %a{ href: '/destinations/yerevan' } Гюмри
          %a{ href: '/destinations/yerevan' } Екатеринбург
          %a{ href: '/destinations/yerevan' } Октобе
          %a{ href: '/destinations/yerevan' } Тула
          %a{ href: '/destinations/yerevan' } Казань
          %a{ href: '/destinations/yerevan' } Калининград
          %a{ href: '/destinations/yerevan' } Кострома
          %a{ href: '/destinations/yerevan' } Москва
          %a{ href: '/destinations/yerevan' } Новосибирск
          %a{ href: '/destinations/yerevan' } Санкт-Петербург
          %a{ href: '/destinations/yerevan' } Севан
          %a{ href: '/destinations/yerevan' } Сочи
          %a{ href: '/destinations/yerevan' } Тбилиси
          %a{ href: '/destinations/yerevan' } Тула
        %img{src: '/img/map.svg'}

    %footer
      %div
        %a о нас
        %a направления
        %a работа
        %a материалы
      %img{src: "/img/logo.svg"}
      %div
        %a telegram
        %a instagram