%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#work
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo4.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас

    %section#title
      %div
        %div.container.oval.black.bold
          %p
            р
            %span.s а
            бота
        %p работа –– вся необходимая информация о профессиях и вакансиях в разных точках мира, частичная занятость и фултайм — все виды онлайн-заработка на любой вкус.

    %section#jobs
      %div
        %p.pill.fill.black.large предприниматель
        %p.pill.fill.black.large веб-разработчик
        %div
        %div
        %p.pill.fill.black.large программист
        %p.pill.fill.black.large smm-специалист
        %p.pill.fill.black.large дизайнер
        %p.pill.fill.black.large репетитор
        %div
        %div
        %p.pill.fill.black.large фотограф
        %p.pill.fill.black.large разработчик
        %p.pill.fill.black.large видеограф
        %p.pill.fill.black.large редактор
        %div
        %div
        %p.pill.fill.black.large блоггер
        %p.pill.fill.black.large журналист

    %footer
      %div
        %a{href: '/about'} о нас
        %a{href: '/destinations'} направления
        %a{href: '/work'} работа
        %a{href: '/materials'} материалы
      %img{src: "/img/logo.svg"}
      %div
        %a{href: '/tg'} telegram
        %a{href: '/ig'} instagram