%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#work
    %div.overlay#job-details
      %img.clickable{src: "/img/arrow.svg"}
      %div
        %p Веб-разработчик
        %div
          %p
            Средняя зарплата
            %br/
            Формат
            %br/
            Порог вхождения
            %br/
            Возможность роста
            %br/
            Важность образования
            %br/
            Требования к опыту
            %br/
          %p
            110,000 ₽
            %br/
            фриланс/найм
            %br/
            10/10
            %br/
            9/10
            %br/
            5/10
            %br/
            креативность, владение программами, тайм-менеджмент

    
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo4.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div

    %section#title
      %div
        %div.container.oval.black.bold
          %p
            р
            %span.s а
            бота
        %p работа –– вся необходимая информация о профессиях и вакансиях в разных точках мира, частичная занятость и фултайм — все виды онлайн-заработка на любой вкус.

    %section#jobs
      %div
        %p.pill.fill.black.large.clickable предприниматель
        %p.pill.fill.black.large.clickable веб-разработчик
        %p.pill.fill.black.large.clickable программист
        %p.pill.fill.black.large.clickable smm-специалист
        %p.pill.fill.black.large.clickable дизайнер
        %p.pill.fill.black.large.clickable репетитор
        %p.pill.fill.black.large.clickable фотограф
        %p.pill.fill.black.large.clickable разработчик
        %p.pill.fill.black.large.clickable видеограф
        %p.pill.fill.black.large.clickable редактор
        %p.pill.fill.black.large.clickable блоггер
        %p.pill.fill.black.large.clickable журналист

    %footer
      %div
        %a{href: '/about'} о нас
        %a{href: '/destinations'} направления
        %a{href: '/work'} работа
        %a{href: '/materials'} материалы
      %img{src: "/img/logo.svg"}
      %div
        %a{href: '/tg'} telegram
        %a{href: '/ig'} instagram