%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    -# %link{:rel => "icon", :type => "image/png", :href => "../static/img/icon.png"}
  %body#preview
    %header
      %a{href: '/work'} профессии
      %a{href: '/destinations/yerevan'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo.svg"}
      %a{href: '/materials/agrotourism'} материалы
      %a{href: '/about'} о нас

    %section#window
      %div
        %img#image-swap{src: '/img/boy1.svg', data-images: '/img/boy1.svg, /img/boy2.svg, /img/boy3.svg'}
        %p 
          ок
          %span.s н
          о к
          %span.s у
          да уго
          %span.s д
          но
        %div
          %img{src: "/img/logo.svg"}
          %p — медиа-платформа для диджитал кочевников, обширное хранилище структурированной информации о местах и направлениях, куда цифровым кочевникам нашей страны можно держать курс, в разных масштабах — от стран до кварталов.

    %section#destinations
      %div.bundle
        .container.rect.white.bold
          %p
            н
            %span.s а
            пра
            %span.s в
            ления
        .container.rect.white.card.clickable{onclick: 'window.location.href = "/materials/agrotourism"'}
          %div
            %p.pill.border.small Москва
            %p.pill.border.small Агротуризм
          %p Агротуризм в Подмосковье

    %section#work
      %div
        .container.oval.black.bold
          %p
            р
            %span.s а
            бота
        %div
          %p.pill.fill.large предприниматель
          %p.pill.fill.large веб-разработчик
          %p.pill.fill.large smm-специалист

    %section#materials
      %div.bundle
        .container.roundrect.white.bold
          %p
            ма
            %span.s т
            ериалы
        .container.rect.white.card.clickable{onclick: 'window.location.href = "/destinations/yerevan"'}
          %div
            %p.pill.border.small Армения
          %p Ереван

    %section#email
      %div
        %p Оставайтесь на связи:
        %div
          %input.pill.border.large{type: 'text', placeholder: 'e-mail'}
          %p.pill.border.large подписаться на рассылку

    %footer
      %div
        %a о нас
        %a направления
        %a работа
        %a материалы
      %img{src: "/img/logo.svg"}
      %div
        %a telegram
        %a instagram
