@import 'pages/preview/index.scss';
@import 'pages/about/index.scss';
@import 'pages/styleguide/index.scss';
@import 'pages/work/index.scss';
@import 'pages/destinations/index.scss';
@import 'pages/materials/index.scss';
@import 'pages/main/index.scss';

@import 'materials/index.scss';

@import 'destinations/index.scss';

@import 'styles/header.scss';
@import 'styles/footer.scss';
@import 'styles/container.scss';
@import 'styles/pill.scss';
@import 'styles/bundle.scss';
@import 'styles/input.scss';
@import 'styles/heading.scss';
@import 'styles/tags.scss';
@import 'styles/article.scss';
@import 'styles/fonts.scss';
@import 'styles/media.scss';
@import 'styles/overlay.scss';
@import 'styles/scroller.scss';
@import 'styles/globe.scss';

:root {
	--белый: #D6F0FF;
	--черный: #00141F;
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
	font-family: 'Inter';
	font-weight: 300;
	line-height: 1.2;
	cursor: crosshair;
}

h1, h2 {
	font-weight: 400;
}

h1 {
	font-size: 38px;
}

p, h2 {
	letter-spacing: -0.05em;
}

a {
	position: relative;
	text-decoration: none;
	color: var(--черный);
	cursor: pointer;
}

p.white {
	color: var(--белый);
}

span.s {
	font-family: 'Stezhok';
	font-size: 165%;
	margin-left: -0.1em;
	margin-right: -0.1em;
}

a.bottom-link {
	& {
		font-size: 18px;
		text-decoration: underline;
	}

	&::after {
		content: '';
		display: inline-block;
		width: 20px;
		height: 25px;
		margin-left: 6px;
		background-image: url('/img/side-arrow.svg');
		background-position-y: 8px;
		background-repeat: no-repeat;
	}

	&:hover::after {
		border: none;
	}
}

html,
body {
	// overflow-x: hidden;
}

body {
	background-color: var(--белый);
}

img,
svg {
	-webkit-user-select: none;
	user-select: none;
}

section,
header,
footer {
	position: relative;
	width: 100%;
	padding: 0 50px;
}

section {
	position: relative;
	padding: 0 50px;
	margin-top: 50px;
}

section.small {
	margin-top: 20px;
}

section > div, header, footer {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
section > div {
	width: 1440px;
}
header, footer {
	width: 1540px;
}

section:first-of-type {
	margin-top: 80px;
}

.border, .heading, .li::after, *.border::after, a:hover::after {
	border: 1.5px solid var(--черный);
}

.corner {
	border-radius: 32px;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	transition: background-color 0.2s ease;
}
