%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body.destination#yerevan
    %header
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div
    
    %section#heading
      %div.heading.rect.centered{style: "background-image: url('/img/yerevan2.png'); background-position-y: -20px"}
        %p Ереван
        %p.caption 
          Каскад, горы и озёра.
          %br
          Все что нужно знать о Ереване
    
    %section#article
      %div
        %p.center Ереван на 29 лет старше Рима. Несмотря на почтённый возраст в 2700 лет, город продолжает искать свой облик, сохраняя историческую память. Здесь высокая плотность достопримечательностей на небольшой территории — вместе уживаются уникальные реликвии древних урартов и современные арт-пространства, средневековые церкви и «сталинские» дома. А сверху за Ереваном наблюдает непоколебимый Арарат — главный символ Армении.
        %p.center Город объединяет в своём настроении Ближний Восток, Европу и СССР. Здесь по‑восточному агрессивное движение, колоритные рынки и шумная молодёжь, монументальные советские проспекты и при этом по‑европейски концептуальные бары, рестораны и культурные центры. А каждый монастырь в окрестностях Еревана хранит много того, что имеет значение для мировой культуры.
        %div.container.black.fill.semiroundrect.centered
          %p Россиянам для въезда достаточно общегражданского паспорта. Срок пребывания — 180 дней. Для обновления срока достаточно выехать на пару дней в соседнюю Грузию и вернуться обратно.
        %h1 Культура
        %p В Араратской долине, где расположился город, тысячелетиями сталкивались интересы разных цивилизаций — здесь оставили свой след персы, ассирийцы и скифы. Согласно библейской легенде, к горе Арарат причалил Ноев Ковчег.
        %div.strip
          %div
            %p Древняя империя Великая Армения в разные времена простиралась от Севана до реки Иордан, а в 301 году царь Армении Трдат III первым в мире объявил христианство государственной религией. В средние века город становился объектом завоеваний византийцев, арабов и монголов, а в XVII–XVIII веках переходил от турок-османов к персам-сефевидам. В 1827 году по результатам многолетних русско-персидских войн Ереван (тогда он назывался Эривань) стал частью Российской империи, а затем столицей Армянской ССР и независимой Армении.
            %p В 1920-е город пережил масштабную реконструкцию по генеральному плану архитектора Александра Таманяна, в результате чего снесли большую часть одноэтажного старого города, в том числе построенную турками Эриванскую крепость. Для сохранения единства облика при строительстве нового города использовался туф (местная горная порода), основной материал древних армянских церквей и монастырей.
          %img.border.corner{src: '/img/yerevan3.png'}
        %h1.center Транспорт
        %p.center Такси — удобный и недорогой способ преодолеть извилистые улочки и добраться до нужного места. В Ереване работают Яндекс Go и Uber. Поездка в окрестностях Кентрона обойдётся в 500–800 драмов (70–120 рублей).
        %p.center Метро в городе дешёвое, но непрактичное — одна ветка длиной 10 км соединяет центр и соседний район Шенгавит. Можно сократить путь по Кентрону либо доехать до станции «Сасунци Давид», где находитьcя железнодорожный вокзал. Проезд стоит 130 драмов (19 рублей).
        %p.center В городе работает прокат автомобилей, в том числе Eurocar и Herts. Стоимость аренды — от 7000 драмов в сутки (1000 рублей). Для поездок по окрестностям в большой компании можно нанять водителя. Минивэн на шесть-семь человек на день будет стоить от 54 000 драмов (7700 рублей).
        %h1 Жильё
        %p В компактном Кентроне сосредоточено большинство отелей города за любую цену. Не селитесь в районе Северного проспекта или Каскада — тут пересекаются основные потоки туристов, поэтому людей всегда много.
        %div.strip
          %div
            %p Можно поселиться в роскошном Marriot Hotel на Площади Республики или в более скромном Good Hotel на проспекте Саят-Новы — в любом случае вы интегрируетесь в культурную жизнь центра.
            %p Если центр для вас дорого, присмотритесь к Арабкиру, району северней Каскада. Здесь престижные новостройки соседствуют с советскими домами. Поселившись здесь, вы обеспечите себе живописный утренний спуск по Каскаду, когда можно наблюдать за просыпающимся городом и любоваться видом Арарата.
            %p Цены на аренду в Ереване зависят от района, давайте разберёмся в них. Искать квартиры для аренды в Ереване можно на List.am (крупнейший сайт объявлений в Армении, где моно найти множество предложений по аренде), TunTun.am (ещё один популярный ресурс с предложениями по аренде квартир), а также через риелторские агенства.
          %img.border.corner{src: '/img/yerevan4.png'}

    %section#more
      %div
        %h1 Читайте ещё:
        %div
          %a.container.rect.white.card.border{ href: '/destinations/adler' }
            %div
              %p.pill.border.small Москва
              %p.pill.border.small Агротуризм
            %p Агротуризм в Подмосковье
          %a.container.rect.white.card.border{ href: '/destinations/adler' }
            %div
              %p.pill.border.small Казахстан
              %p.pill.border.small Карьера
            %p Гайд: работа в Казахстане
          %a.container.rect.white.card.border{ href: '/destinations/adler' }
            %div
              %p.pill.border.small Россия
              %p.pill.border.small Недвижимость
            %p Инта: купить квартиру за 30.000

    %footer
      %div
        %a о нас
        %a направления
        %a работа
        %a материалы
      %img{src: "/img/logo.svg"}
      %div
        %a telegram
        %a instagram
