%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#materials
    %header.white
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo5.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div

    %section#title
      %div
        %div.container.roundrect.white.bold
          %p
            ма
            %span.s т
            ериалы
        %p.white материалы –– собранные редакцией статьи о цифровом кочевничестве со всего света: истории успеха, гуд практисы и путеводители для людей, живущих вне границ.

    %section#taglist
      %div.tags
        %p.pill.border.small.clickable Все
        %p.pill.fill.border.small.clickable Советы
        %p.pill.fill.border.small.clickable Приколы
        %p.pill.fill.border.small.clickable Россия
        %p.pill.fill.border.small.clickable СНГ
        %p.pill.fill.border.small.clickable Деньги
        %p.pill.fill.border.small.clickable Культура
        %p.pill.fill.border.small.clickable Интервью
        %p.pill.fill.border.small.clickable Фотожурналистика
    %section#all-materials
      %div
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье

    %footer.white
      %div
        %a{href: '/about'} о нас
        %a{href: '/destinations'} направления
        %a{href: '/work'} работа
        %a{href: '/materials'} материалы
      %img{src: '/img/logo5.svg'}
      %div
        %a{href: '/tg'} telegram
        %a{href: '/ig'} instagram