%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title roam.me
    %link{:rel => "icon", :type => "image/png", :href => "/img/icon.png"}
  %body#materials
    %header.white
      %a{href: '/work'} работа
      %a{href: '/destinations'} направления
      %a.static{href: '/'}
        %img{src: "/img/logo5.svg"}
      %a{href: '/materials'} материалы
      %a{href: '/about'} о нас
      %div

    %section#title
      %div
        %div.container.roundrect.white.bold
          %p
            ма
            %span.s т
            ериалы
        %p.white материалы –– собранные редакцией статьи о цифровом кочевничестве со всего света: истории успеха, гуд практисы и путеводители для людей, живущих вне границ.

    %section#taglist
      %div.tags
        %p.pill.border.fill.small.clickable.filter#filter-all Все
        %p.pill.border.small.clickable.filter#filter-adv Советы
        %p.pill.border.small.clickable.filter#filter-fun Приколы
        %p.pill.border.small.clickable.filter#filter-tour Туризм
        %p.pill.border.small.clickable.filter#filter-rus Россия
        %p.pill.border.small.clickable.filter#filter-cis СНГ
        %p.pill.border.small.clickable.filter#filter-money Деньги
        %p.pill.border.small.clickable.filter#filter-culture Культура
        %p.pill.border.small.clickable.filter#filter-talk Интервью
        %p.pill.border.small.clickable.filter#filter-photoj Фотожурналистика
    %section#all-materials
      %div.filterable
        %a.container.rect.white.card.clickable.filter-fun.filter-rus{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable.filter-tour.filter-adv.filter-cis.filter-money{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Туризм
          %p Гайд: работа в Казахстане
        %a.container.rect.white.card.clickable.filter-adv.filter-rus{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Россия
            %p.pill.transparent.border.small Деньги
          %p Инта: купить квартиру за 30.000
        %a.container.rect.white.card.clickable.filter-rus.filter-culture.filter-photoj{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Россия
            %p.pill.transparent.border.small Туризм
          %p Что делать в Екатеринбурге
        %a.container.rect.white.card.clickable.filter-adv.filter-money{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Деньги
          %p Фриланс и налоги: как не ошибиться
        %a.container.rect.white.card.clickable.filter-money{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Технологии
            %p.pill.transparent.border.small Деньги
          %p Гайд: как заработать в WEB3
        %a.container.rect.white.card.clickable.filter-adv.filter-talk{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Ворк-лайф баланс на дистанционке
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье
        %a.container.rect.white.card.clickable{ href: '/materials/agrotourism' }
          %div
            %p.pill.transparent.border.small Москва
            %p.pill.transparent.border.small Агротуризм
          %p Агротуризм в Подмосковье

    %footer.white
      %div
        %a{href: '/about'} о нас
        %a{href: '/destinations'} направления
        %a{href: '/work'} работа
        %a{href: '/materials'} материалы
      %img{src: "/img/logo.svg"}
      %div
        %a{href: '/tg'} telegram
        %a{href: '/inst'} instagram