body#materials {
    &, .pill {
        background-color: var(--черный);
    }

    .border {
        border-color: var(--белый);
        color: var(--белый);
    }

    section#title {
        > div {
            > p {
                margin-top: 40px;
                max-width: 420px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    section#taglist {
        .pill:hover {
            background-color: rgba(214, 240, 255, 0.2);
        }

        .pill.fill {
            background-color: var(--белый);
            color: var(--черный);
        }
    }

    section#all-materials {
        > div {
            & {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 20px;
            }

            .pill {
                border-color: var(--черный);
                color: var(--черный);
                background-color: transparent;
            }

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 0 0 32%;
                max-width: 440px;
                min-width: 440px;
                height: 440px;
            }

            .container::after {
                background-size: cover;
                border: none !important;
            }
    
            .container:nth-child(1)::after {
                background-image: url('/img/elderly2.png');
            }
    
            .container:nth-child(2)::after {
                background-image: url('/img/kk.png');
            }
    
            .container:nth-child(3)::after {
                background-image: url('/img/inta.png');
            }

            .container:nth-child(4)::after {
                background-image: url('/img/nsb.png');
            }
    
            .container:nth-child(5)::after {
                background-image: url('/img/ekb.png');
            }
    
            .container:nth-child(6)::after {
                background-image: url('/img/nn.png');
            }
        }
    }

}